
*{
    margin: 0px 0px;
    padding: 0px 0px;
}
@font-face {
    font-family: "Tajawal Regular"; /* اسم الخط المحلي */
    src: local("/dist/Tajawal Regular/Tajawal Regular.ttf"); /* تحديد المصدر المحلي */
  }


#logo{
    width: 100px;
    height: 100px;
}
#ul1,#ul2{
    list-style: none;
    display: flex;
    gap: 45px;
    align-items: center;
    font-family: 'Tajawal Regular';
    font-size: medium;
    font-weight: bold;
    line-height: 20px;
    
    
}

#ul2{
    gap: 20px;
    z-index: 3;
    padding-left:75px ;
    transition: padding-left 0.3s ease
}
#ul2 li{
    color: white;
    z-index: 3;
}
#ul2 a{
    color: white;
    text-decoration: none;
}
#ul2 a:hover{
    color: #f4c82c;
    text-decoration: none;
}
.dropdown-toggle{
    color: white;
    font-family: 'Tajawal Regular';
    font-size: medium;
    font-weight: bold;
    line-height: 20px;


    
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 8px; /* مسافة بين النص والسهم */
    vertical-align: middle; /* توسيط السهم */
    content: ""; /* السهم */
    font-size: 12px; /* حجم السهم */
    
  }
  .dropdown-toggle:focus{
    color: #f4c82c;
  }
.btn:hover{
    color: #f4c82c;
}
.dropdown{
    color: white;
}
.btn {
    color: white;
    border: none;
    all: unset;
    transition: color 0.3s ease;

    
    

}
.btn:active,.btn:focus{
    color: #f4c82c;
}

.btn.show {
    border-color: transparent;
    border: none;
    color: #f4c82c;
}


.btn.show:active{
    border: none;
    color: #f4c82c;

}
#serche,#btn{
   
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: none;
    z-index: 4;
    width: 165px;
    line-height: 20px;
    height: 46px;
    transition: transform 0.3s ease ; /* Transition the transform property */
  ;}
#btn{
    background-color: #f4c82c;
    font-weight:500;
    padding-left: 18px;
    z-index: 0;
    text-align: left;
    transition: background-color 0.3s ease
    
}
#btn:hover {
    background-color: #172e86;

}
#btn:hover ~ .icon_right_arrow{
    background-color: #f4c82c;
}

#serche:focus{

    border: none;
    outline: none;
    width: 170px;
    transform: scaleX(1.26);
margin-left: 35px;
transform-origin: right center ;


}
#ul2.focused {
    padding-left: 50px; /* تحريك العنصر إلى اليسار */
    
  }

#serche::placeholder{
    color: #172e86;
    font-weight:500;
}
.search-icon{
    position: absolute;
  top: 33%;
  left: 80%;
  color: blue;
}
